.container-swiper {
  width: 100%;
  }
  
.Prendas {
  width: 100%;
  height: 100px;
  background-color: #007da0 !important;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-bottom: 20px !important;
  margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.description {
  align-items: center;
  font-size: 15px;
 }

.nombre {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.precio {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0084ce;
  margin-bottom: 10px;
}

.botones-card {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrito {
  width: auto;
  display: flex;
  margin-top: 5px;
}

.tallaje {
  width: auto;
  height: 25px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0 1px; /* Ajustar el padding según tu diseño */
  border: 2px #0084ce solid;
  border-radius: 20px;
  color: rgb(163, 162, 162);
  background: white;
  font-size: 14px; /* Tamaño de fuente según tu diseño */
  cursor: pointer;
  outline: none; /* Eliminar el borde al hacer clic */
}

.js{
  width: 100%;
}



@media (max-width: 420px) {
  .container-swiper {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .Prendas {
    width: 100%;
    height: 60px;
  }

  .mySwiper {
    width: 100%;
   
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    margin:  0 1px;
    padding: 0 40px;
  }

  .swiper-slide img {
    display: block;
    width: 125px;
    height: 52%;
    object-fit: fill;
  }
  
}
