.solidary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  /* filter:hue-rotate(500deg) ; */
   }

.solidary-title {
  color: #081526;
  background-color: #7ac7ff;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  margin-bottom: 3%;
  
}

.blueContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7ac7ff;
  width: 100%;
  height: 190px;
  
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}

.imageContainer .image1 {
  margin-bottom: 10px;
  margin-left: 35px;
  width: 200px;
  border-radius: 10px;
}

.imageContainer .image2 {
  z-index: 1;
  width: 200px;
  border-radius: 10px;
  margin-left: -70px;
  margin-bottom: -75px;
}

.imageContainer .image3 {
  z-index: 1;
  width: 200px;
  height: 115px;
  border-radius: 10px;
  margin-bottom: -75px;
  margin-right: -70px;
}

.imageContainer .image4 {
  margin-bottom: 10px;
  margin-right: 35px;
  width: 200px;
  border-radius: 10px;
}

.textContainer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.textContainer button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.8em;
  color: white;
  background-color: #081526;
  border: none;
  border-radius: 8px;
  width: 50%;
  height: 70px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  transition: background 0.3s ease;
}

.textContainer button:hover {
  background-color: #ffffff; /* Cambia el color al pasar el ratón */
  color: #081526;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1); /* Cambia la sombra al pasar el ratón */
}

@media (max-width: 420px) and (min-height: 932px) {
  .solidary {
    width: 100%;
  }

  .solidary-title {
    width: 90%;
    font-size: 13px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
  }

  .blueContainer {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .textContainer {
    height: auto;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
  }

  .textContainer button {
    width: 80%;
    height: auto;
  }

  .imageContainer .image1 {
    display: none;
    /* flex: none; */
  }
  .imageContainer .image4 {
    display: none;
    /* flex: none; */
  }

  .imageContainer .image2 {
    margin-right: -70px;
    margin-top: -30px;
  }
  .imageContainer .image3 {
    margin-left: -70px;
    margin-top: -120px;
  }
}
