
.scroll {
    width: 100%;
    height: 0px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 40px;
  }
  
  .scrollToTopBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 40px;
    height: 40px;
    border: 1px rgb(3, 3, 95) solid;
    color: #ffffff;
    background-color: rgb(255, 187, 0);
    border-radius: 40px;
    /* margin-right: -20px; */
  }

  .scrollToTopBtn img{
    width: 40px;
height: 40px;
  }