/* Estilos para la página de productos */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    padding: 20px;
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li img {
    max-width: 100%;
    height: auto;
  }
  
  h3 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  p {
    color: #777;
    font-size: 1.2rem;
  }
  
  /* Estilos adicionales */
  a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  