.home{
    background: url(https://res.cloudinary.com/dq2tfglqq/image/upload/v1698346604/Frame_3_1_1_q0nljl.png);
    background-position: center;
    background-repeat: repeat;
    /* background-image: url(https://res.cloudinary.com/dq2tfglqq/image/upload/v1698346604/Frame_3_1_1_q0nljl.png); */
}