.modal-header {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 10px;
}

.product-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.jarra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.jarra .modal-form {
    width: 300px;
    padding: 20px;
}

.jarra label {
    margin-bottom: 10px;
}

.jarra input,
.jarra textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.jarra .product-image {
    display: block;
    margin-bottom: 10px;
}

.jarra button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-list > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    background: rgb(174, 197, 240);
}

.product-list h2 {
    margin-bottom: 10px;
}

.product-list .product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-list p {
    margin-bottom: 5px;
}

.product-list button {
    margin-top: 10px;
}

.formSection {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #4387e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formSection label {
    font-weight: bold;
}

.formSection input,
.formSection textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
}

.formSection textarea {
    height: 100px;
}

/* .formSection .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
} */

.btn-close,
.btn-save {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-close {
  background-color: #dc3545;
  color: white;
}

.btn-save {
  background-color: #007bff;
  color: white;
}

.btn-close:hover {
  background-color: #ff3355;
}

.btn-save:hover {
  background-color: #43d8e0;
}