/* Estilos generales */
.addInitial {
    background: url('https://res.cloudinary.com/dq2tfglqq/image/upload/v1698346604/Frame_3_1_1_q0nljl.png');
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Encabezado de la página */
.add-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: rgb(99, 193, 234);
}

.add-header h1 {
    margin: 0;
    color: antiquewhite;
    font-size: 24px;
}

/* Botón "Add Product" */
.modal-header {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(99, 193, 234);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Formulario de adición de producto */
.add-form {
    width: 400px;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    color: white;
    border-radius: 8px;
}

.add-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.add-form input,
.add-form textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 4px;
}

.add-form select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 4px;
    color: #444;
}

.add-form textarea {
    height: 100px;
}

.add-form .product-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* Lista de productos */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.product-list > div {
    /* flex: 0 0 calc(33.333% - 40px); */

    padding: 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    
    /* color: black; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
    text-align: center;
}

.product-list h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.product-list .product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: px;
}

.product-list p {
    margin-bottom: 10px;
}

.product-list button {
    /* padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(45, 99, 154);
    color: white;
    font-size: 14px;
    transition: background-color 0.3s ease; */
    width: auto;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px #0084ce solid;
    border-radius: 15px;
    color:#0084CE ;
    cursor: pointer;

    /* padding: 10px 10px; */
}

.product-list button:hover {
    /* background-color: #cc240a; */
}

/* Formulario de edición de producto */
.formSection {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4387e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.formSection label {
    font-weight: bold;
    margin-bottom: 10px;
}

.formSection input,
.formSection textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formSection textarea {
    height: 100px;
}

.formSection .btn-close,
.formSection .btn-save {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formSection .btn-close {
    background-color: #dc3545;
    color: white;
}

.formSection .btn-save {
    background-color: #007bff;
    color: white;
}

.formSection .btn-close:hover {
    background-color: #ff3355;
}

.formSection .btn-save:hover {
    background-color: #43d8e0;
}
