.homeinitial{
    background: url(https://res.cloudinary.com/dq2tfglqq/image/upload/v1698346604/Frame_3_1_1_q0nljl.png);
    background-position: center;
    background-repeat: repeat;
    font-family: 'Roboto';
    letter-spacing: 1px;
    margin: 0;
/* padding: 0 10%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70px;
    background-color: #EDEDED;
    color: rgb(3, 3, 95);
    padding: 10px;
    margin-left: 141.5px;
    /* margin-bottom: 20px; */
}